* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    list-style-type: none;
    text-decoration: none;
}
/* first-screen */
.first-screen {
    width: 100vw;
    height: 80vh;
    text-align: center;
}

.first-screen > img {
    margin-top: 5vh;
    height: 30vh;
}

.first-screen > p:first-of-type {
    position: relative;
    top: -21vh;
    font-size: 4vh;
    color: rgb(226, 241, 183);
    margin-bottom: 10vh;
}
/* second-screen */
.second-screen {
    width: 100vw;
    height: 50vh;
    text-align: center;
    background-color: rgba(169, 169, 169, 0.136);
}

.second-screen > h2 {
    padding: 10vh;
    letter-spacing: 1vw;
}
/* third-screen */
.third-screen {
    width: 100vw;
    height: 80vh;
}

.contact_couple {
    margin: 5vh 10vw;
}

.contact_couple > ul {
    display: flex;
    margin-top: 8vh;
}

.contact_couple > ul > li:first-of-type {
    font-size: 25px;
    flex: 4;
}

.contact_couple > ul > li {
    font-size: 25px;
    flex: 1;
}